---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Socials from "@/components/Socials.astro";
import LinkButton from "@/components/LinkButton.astro";
import Card from "@/components/Card.astro";
import getSortedPosts from "@/utils/getSortedPosts";
import IconRss from "@/assets/icons/IconRss.svg";
import IconArrowRight from "@/assets/icons/IconArrowRight.svg";
import { SITE } from "@/config";
import { SOCIALS } from "@/constants";
import profileImage from "@/assets/images/profile.jpg"; 

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);
const recentPosts = sortedPosts.filter(({ data }) => !data.featured);
---

<Layout>
  <Header />
  <main id="main-content" data-layout="index" class="app-layout">
    <section id="hero" class:list={["pt-8 pb-6", "border-b border-border"]}>
    <!-- 写真 + テキストの横並びレイアウト -->
      <div class="flex flex-col sm:flex-row items-center sm:items-start gap-6">
        <!-- 丸型写真 -->
        <img 
          src={profileImage.src} 
          alt="プロフィール写真"
          class="w-32 h-32 sm:w-40 sm:h-40 rounded-full object-cover shrink-0"
        />
        
        <!-- テキスト部分 -->
        <div>
          <p>
            九州大学 人間情報システム研究グループ 荒川研究室所属<br />
            博士後期課程1年 (D1)
          </p>

          {
          SOCIALS.length > 0 && (
          <div class="mt-4 flex max-sm:flex-col sm:items-center">
            <div class="me-2 mb-1 sm:mb-0 whitespace-nowrap">Social Links:</div>
            <Socials />
          </div>
        )
      }
        </div>
      </div>
    </section>

    {
      recentPosts.length > 0 && (
        <section id="recent-posts" class="pt-12 pb-6">
          <h2 class="text-2xl font-semibold tracking-wide">Recent Posts</h2>
          <ul>
            {recentPosts.map(
              (data, index) =>
                index < SITE.postPerIndex && <Card variant="h3" {...data} />
            )}
          </ul>
        </section>
      )
    }

    <div class="my-8 text-center">
      <LinkButton href="/posts/">
        All Posts
        <IconArrowRight class="inline-block rtl:-rotate-180" />
      </LinkButton>
    </div>
  </main>
  <Footer />
</Layout>

<script>
  document.addEventListener("astro:page-load", () => {
    const indexLayout = (document.querySelector("#main-content") as HTMLElement)
      ?.dataset?.layout;
    if (indexLayout) {
      sessionStorage.setItem("backUrl", "/");
    }
  });
</script>
